# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/*.xcworkspace
!*.xcodeproj/xcshareddata/

# User settings
*.xcuserstate
*.xcuserdatad/

# Build products
build/
DerivedData/

# macOS
.DS_Store